@model Vidly.Models.Movie
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

@if (Model == null)
{
    <p>There is no movie found.</p>
} else
{
    <h1>@Model.Name</h1>

    <p>starring @Model.Actor</p>

    <small>Id=@Model.Id</small>
}
