@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Discount Rate</th>
            <th>Id</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
            
        @foreach (var customer in Model.ToList())
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.MembershipType.DiscountRate%</td>
                <td>@customer.Id</td>
                <td>@Html.ActionLink("View Details", "View", "Customers", new { id=customer.Id }, null)</td>
            </tr>
        }
            
    </tbody>
</table>
